* {
  box-sizing: border-box;
}



body{
    Color:black;
    padding:10px;
    font-family: Helvetica;
    Background-color: #FFFAE5;
}

.header {
  padding: 5px;/*the distance from title"Lost_and_found" to the border*/
  text-align: center;
  font-size:55px;
  background: #EDB100;
  color: white;
}

.topnav
{
  overflow: hidden;
  background-color: #EDB100;
}


/* Style the topnav links */
.topnav a
{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change color on hover */
.topnav a:hover
{
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {
    list-style-type: none;
    background-color: #F8F4E6;
    border: 5px solid #F4D475;
    margin-top: 20px;
    padding: 10px;
    text-align: center;



  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  padding: 20px;
}

.PersonalInformationContainer{
  font-size-adjust: auto;
   padding:10% 30% 25% 10%;
   border: 4px solid #F4D475;
   text-align: center;
}


/* Main column */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  padding: 10%;
  border: 4px solid #F4D475;
  overflow:hidden;
  height:auto;
  width:auto;
  Background-color:#F8F4E6;
  text-align:center;
}


.subtitle{
font-size:30px;
color:#EDB100;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px)
{
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px)
{
  .topnav a
  {
    float: none;
    width: 100%;
  }
}

  /* Add a card effect for articles */
  .card
  {
    background-color: #EDB100;
    padding: 20px;
    color:black;
    margin-top: 20px;
  }

  .card:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
  }

  input[type=text]
  {
    width: 130px;
    box-sizing: border-box;
    border: 4px solid #F4D475;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 15px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus
  {
    width: 40%;
  }
