body {
  font-family: Helvetica;
  font-size: 14px;
}

.error {
	color: #ff0000;
}

/* Style the top navigation bar */
.topnav
{
  overflow: hidden;
  background-color: #EDB100;
}

/* Style the topnav links */
.topnav a
{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a.active 
{
  background-color: #F4D475;
  color: white;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover
{
  background-color: #F4D475;
  color: white;
  text-decoration: none;
}

/* Home icon */
i {
  margin-right: 3px;
}
 
/* Home button in the navigation bar */ 
.homeButton:link, .homeButton:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.homeButton:hover, .homeButton:active {
  background-color: #F4D475;
}

/* Home icon */
i {
  margin-right: 2px;
}

/* Lost and found logo */
.logo {
  width: 8%;
  margin-left: 47%;
}

/* Container for the two registration forms */
.gridContainer {
  display: flex;
  align-content: left;
  grid-gap: 0px;
  background-color: white;
  padding-top: 0.5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1%;
  margin-top: 1%;
}

/* Container for the registration forms */
.gridItem {
  background-color: #FFFAE5;
  width: 50%;
  margin-right: 1%;
  margin-left: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

/* Put the two registration forms on top of each other
if the screen size in less than 600px */
@media screen and (max-width: 600px) {
  .gridContainer {
    display: grid;
    align-content: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  .gridItem {
    width: 90%;
    padding: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
  }
}

/* Buttons for submitting the registration */
.buttons {
  float: right;
  margin-top: 2%;
  margin-bottom: 1%;
  background-color: #EDB100;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

.buttons:hover {
  color: #EDB100;
  background-color: white;
}

/* Text input fields */
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #FFBB33;
}

/* Password input fields */
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=password]:focus {
  border: 3px solid #FFBB33;
}

/* Terms and conditions text container */
.termsAndCond {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.termsAndCond input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #ccc;
}

/* On mouse-over, add a yellowish background color */
.termsAndCond:hover input ~ .checkmark {
  background-color: #F4D475;
}

/* When the checkbox is checked, add an orange background */
.termsAndCond input:checked ~ .checkmark {
  background-color: #EDB100;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.termsAndCond input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.termsAndCond .checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Colours for the Terms and Conditions and the Privacy Policy links */
a:link {
  color: #EDB100; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: #EDB100;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #F4D475;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #EDB100;
  background-color: transparent;
  text-decoration: underline;
}